<html>
	<head data-address-tag="about">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>

	<body>

		{% extends 'shell.html'%}
		{% block body %}

		<!-- Jumbotron -->

		<div class="jumbotron" style="width: 1000px; height: 300px; margin: 100 auto;">
			<h1 class="display-4"> Meet the Team</h1>
			<p class="lead">We are a web development team passionate about basketball and computer science.</p>
			<a role="button" class="btn btn-outline-info" href="https://www.balldontlie.io/#introduction">API Source</a>
			<p></p>
		</div>

		<!-- Person cards -->
,
		<div class="bios_1" align="center">
			<div class="card mb-3" style="width: 550px; max-width: 550px; max-height:250px; display: inline-block;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="https://i.imgur.com/pHPhEm2.jpg" class="card-img" alt="oscar img">
					</div>
					<div class="col-md-8">
						<!--<div class="card-header" style="height: 50px">Full Name</div>-->
						<div class="card-body">
							<h6 class="card-title">Oscar Ortiz</h4>
							<h6 class="card-subtitle mb-2 text-muted">Front-End Developer</h6>
							<p class="card-text" style="font-size: 13;">I'm a senior majoring in Neuroscience at UT Austin. On my free time, I collect and play board games with friends and play the piano.</p>
							<p class="card-text text-muted" style="font-size: 14;"><strong>no. of commits:</strong>  14<br><strong>no. of issues:</strong>  7<br><strong>no. of unit tests:</strong>  3</p>

						</div>
					</div>
				</div>
			</div>

			<div class="card mb-3" style="width: 550px; max-width: 550px; max-height:250px; display: inline-block;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="https://i.imgur.com/1kAepsz.png" class="card-img" alt="basilio img">
					</div>
					<div class="col-md-8">
						<!--<div class="card-header" style="height: 50px">Full Name</div>-->
						<div class="card-body">
							<h6 class="card-title">Basilio Bazan III</h4>
							<h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
							<p class="card-text" style="font-size: 13;">I'm Basilio, a senior majoring in Arts and Entertainment Technologies. I spend my free time running, playing video games, and listening to music.</p>
							<p class="card-text text-muted" style="font-size: 14;"><strong>no. of commits:</strong>  10<br><strong>no. of issues:</strong>  12<br><strong>no. of unit tests:</strong>  6</p>
						</div>
					</div>
				</div>
			</div>
		<p></p>

		<div class="bios_2" align="center">
			<div class="card mb-3" style="width: 550px; max-width: 550px; max-height:250px; display: inline-block;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="https://i.imgur.com/5gPR9MV.png" class="card-img">
					</div>
					<div class="col-md-8">
						<!--<div class="card-header" style="height: 50px">Full Name</div>-->
						<div class="card-body">
							<h6 class="card-title">Tony Nguyen</h4>
							<h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
							<p class="card-text" style="font-size: 13;">I'm a senior AET major. I spend my free time listening to music, playing video games, and watching movies.</p>
							<p class="card-text text-muted" style="font-size: 14;"><strong>no. of commits:</strong>  15<br><strong>no. of issues:</strong>  0<br><strong>no. of unit tests:</strong>  5</p>
						</div>
					</div>
				</div>
			</div>

			<div class="card mb-3" style="width: 550px; max-width: 550px; max-height:250px; display: inline-block;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="https://i.imgur.com/S9YYUdZ.png" class="card-img" style="max-width: 200px;">
					</div>
					<div class="col-md-8">
						<!--<div class="card-header" style="height: 50px">Full Name</div>-->
						<div class="card-body">
							<h6 class="card-title">Pierce Kotarski</h4>
							<h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
							<p class="card-text" style="font-size: 13;">Hi, I'm Pierce, a Senior Mechanical Engineering Major at UT Austin. When I'm not coding I enjoy playing guitar and watching movies.</p>
							<p class="card-text text-muted" style="font-size: 14;"><strong>no. of commits:</strong>  25<br><strong>no. of issues:</strong>  0<br><strong>no. of unit tests:</strong>  0</p>
						</div>
					</div>
				</div>
			</div>
		<p></p>

		<div class="bios_3" align="center">
			<div class="card mb-3" style="width: 550px; max-width: 550px; max-height: 250px; display: inline-block;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="https://i.imgur.com/Jk0qPsU.png" class="card-img" style="max-width: 200px;">
					</div>
					<div class="col-md-8">
						<!--<div class="card-header" style="height: 50px">Full Name</div>-->
						<div class="card-body">
							<h6 class="card-title">John Mills LeMaire</h4>
							<h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
							<p class="card-text" style="font-size:13;">Senior Economics Major with CS certificate and BFP. I spend my free time watching/playing basketball and video games.</p>
							<p class="card-text text-muted" style="font-size: 14;"><strong>no. of commits:</strong>  23<br><strong>no. of issues:</strong>  24<br><strong>no. of unit tests:</strong>  0</p>
						</div>
					</div>
				</div>
			</div>

			<div class="card mb-3" style="width: 550px; max-width: 550px; max-height: 250px; display: inline-block;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="https://i.imgur.com/66TE0De.png" class="card-img" style="max-width: 200px;">
					</div>
					<div class="col-md-8">
						<!--<div class="card-header" style="height: 50px">Full Name</div>-->
						<div class="card-body">
							<h6 class="card-title">Tyson Smiter</h4>
							<h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
							<p class="card-text" style="font-size: 13;">Yo! I'm Tyson Smiter, a Senior Mechanical Engineering Student beyond ready to graduate! I enjoy reading, playing basketball, and winning.</p>
							<p class="card-text text-muted" style="font-size: 14;"><strong>no. of commits:</strong>  24<br><strong>no. of issues:</strong>  0<br><strong>no. of unit tests:</strong>  0</p>
						</div>
					</div>
				</div>
			</div>
		<p></p>



		<!-- Stats card -->
		<div class="info_cards" style="margin: 30 auto; position: relative;">
			<div class="card" id="stats" style="width: 15rem; display: inline-block;">
				<div class="card-header"><strong>Stats</strong></div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Total no. of Commits: 70</li>
					<li class="list-group-item">Total no. of Issues:  16</li>
					<li class="list-group-item">Total no. of Unit Tests: 0</li>
				</ul>
			</div>
			<div class="card" id="links" style="width: 15rem; display: inline-block;">
				<div class="card-header"><strong>Links</strong></div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><a href="https://gitlab.com/millslemaire/cs331e-group-project/issues">GitLab Issue Tracker</a></li>
					<li class="list-group-item"><a href="https://gitlab.com/millslemaire/cs331e-group-project">GitLab Repo</a></li>
					<li class="list-group-item"><a href="https://gitlab.com/millslemaire/cs331e-group-project/-/wikis/home">GitLab Wiki</a></li>
				</ul>
			</div>

		<div class="tool_icons" style="padding-top: 70px;">
			<a href="https://cloud.google.com/"><img src="https://i.imgur.com/lXsjw24.png" style="padding-left: 30px; padding-right: 30px;"></a>
			<a href="https://getbootstrap.com/"><img src="https://i.imgur.com/SVf3A7g.png" style="padding-left: 30px; padding-right: 30px;"></a>
			<a href="https://about.gitlab.com/"><img src="https://i.imgur.com/gu16pzw.png" style="padding-left: 30px; padding-right: 30px;"></a>
			<a href="https://www.javascript.com/"><img src="https://i.imgur.com/srKpTwK.png" style="padding-left: 30px; padding-right: 30px;"></a>
			<a href="https://pypi.org/project/Flask/"><img src="https://i.imgur.com/giwDB0B.png" style="padding-left: 30px; padding-right: 30px;"></a>
			<a href="https://git-scm.com/"><img src="https://i.imgur.com/1dz8rYH.png" style="padding-left: 30px; padding-right: 30px;"></a>
		</div>

		<p></p>
		<form action="" method="POST">
			<input type='submit' value='Run Unit Tests'></form>

		<p><a href="https://speakerdeck.com/tonyn/nbanalytics">Check out our slides</a></p>
		{{ message }}

		{% endblock %}

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>

</html>